<div class="row">
  <% @audios.each do |audio| %>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="songs-indiv">
        <h3><%= audio.title %></h3>
        <p><%= audio.date %></p><br/>
        <audio id="<%= audio.id %>" controls>
          <source src="<%= audio.audio.url %>"><source>
        </audio>
        <% if current_user && current_user.admin? %>
          <div class="add-remove">
            <%= link_to "Remove", audio_path(audio), method: :delete, class: "btn-custom2",
            data: { confirm: 'Are you sure you want to delete this song?' }%>
            <%= link_to "Edit", edit_audio_path(audio), class: "btn-custom2" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
