<div class="row">
  <div class="col-md-8 col-xs-12 text-center">
    <div class="img-show">
      <%= image_tag(@image.image_url) %>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <div class="img-desc text-center">
      <h1><strong><%= @image.title %></strong></h1>
      <p><strong><%= @image.date %></strong></p>
      <p><strong><%= @image.description %></p>
      <% if current_user.email === "isorme1@gmail.com" || current_user.email === "jrorme1@sbcglobal.net" %>
        <%= link_to "Remove", image_path(@image), method: :delete, class: "btn btn-primary btn-sm",
        data: { confirm: 'Are you sure you want to delete this image?' }%>
        <%= link_to "Edit", edit_image_path(@image), class: "btn btn-info btn-sm" %>
      <% end %>
    </div>
  </div>
</div>
