<div class="row">
  <div class="col-md-8 col-xs-12 text-center">
    <div class="img-show">
      <%= image_tag(@image.image_url) %>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <div class="img-desc text-center">
      <% if @image.title.empty? && @image.date.empty? && @image.description.empty?  %>
        <h1>No image description provided yet.</h1>
      <% else %>
        <h1><%= @image.title %></h1>
        <p><%= @image.date %></p>
        <p><%= @image.description %></p>
      <% end %>
      <% if current_user && current_user.admin? %>
        <%= link_to "Remove", image_path(@image), method: :delete, class: "btn btn-primary btn-sm",
        data: { confirm: 'Are you sure you want to delete this image?' }%>
        <%= link_to "Edit", edit_image_path(@image), class: "btn btn-info btn-sm" %>
      <% end %>
    </div>
  </div>
</div>
