<div class="img-show">
  <%= image_tag(@image.image_url) %>
</div>


<div class="img-desc">
  <h1><strong><%= @image.title %></strong></h1>
  <p><strong><%= @image.date %></strong></p>
  <p><strong><%= @image.description %></p>
  <% if current_user.email === "isorme1@gmail.com" || current_user.email === "jrorme1@sbcglobal.net" %>
    <%= link_to "Remove", image_path(@image), method: :delete, class: "btn btn-primary btn-sm" %>
    <%= link_to "Edit", edit_image_path(@image), class: "btn btn-info btn-sm" %>
  <% end %>
</div>
