<!DOCTYPE html>
<html>
<head>
  <title>RobinsArtSite</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'images', media: 'all' %>
  <%= stylesheet_link_tag    'audios', media: 'all' %>
  <%= stylesheet_link_tag    'poems', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller].parameterize %><%= params[:action] %>">

    <nav class="navbar navbar-default page-nav top">
      <div class="dropdownBackground">
        <span class="arrow"></span>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Home", root_path, class: "navbar-brand n-links" %></li>

        <li class="li-trigger">
          <%= link_to "Artwork Collection", images_path, class: "navbar-brand n-links-a" %>
          <div class="dropdown dropdown1">
            <div class="info-box">
              <p>Click here to view Robin's photos, sculptures and paintings</p>
              <%= image_tag('camera.png') %>
              <%= image_tag('copper.png') %>
              <%= image_tag('brush.png') %>
            </div>
          </div>
       </li>

        <li class="li-trigger">
          <%= link_to "Poetry Collection", poems_path, class: "navbar-brand n-links-p" %>
          <div class="dropdown dropdown2">
            <div class="info-box">
              <%= image_tag('poetry.png', class: 'poetry') %>
              <p>View all of Robin's poems here. </p>
            </div>
          </div>
        </li>

        <li class="li-trigger">
          <%= link_to "Song Collection", audios_path, class: "navbar-brand n-links-s" %>
        <div class="dropdown dropdown3">
          <div class="info-box">
            <%= image_tag('guitar.png', class: "guitar") %>
            <p>
              Listen to all of Robin's songs here. Guitar and vocals.
            </p>
          </div>
        </div>
        </li>

      </ul>
        <ul class="nav navbar-nav navbar-right navright">
          <% if user_signed_in? %>
            <li><%= link_to "Signed in as #{current_user.email}", edit_user_registration_path %></li>
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
         <% else %>
           <li><%= link_to "Sign Up", new_user_registration_path %></li>
           <li><%= link_to "Sign In", new_user_session_path %></li>
         <% end %>
       </ul>
     </nav>

   <div class="flash">
     <%= render 'layouts/messages' %>
   </div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
