<!DOCTYPE html>
<html>
<head>
  <title>RobinsArtSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="flash">
     <%= render 'layouts/messages' %>
   </div>

  <nav class="navbar navbar-default page-nav">
    <div class="navbar-header">
      <%= link_to "Home", root_path, class: "navbar-brand"  %>
      <%= "Art Collection Link" %>
    </div>
    <div class="container">
      <ul class="nav navbar-nav pull-right">
        <li> <%= link_to "Sign Up", new_user_registration_path %></li>
        <% if user_signed_in? %>
          <li> <%= link_to "Sign Out", destroy_user_session_path, method: :delete  %>
          <strong> <%= current_user.email %> </strong>
          <li> <%= link_to "Edit Account", edit_user_registration_path %> </li>
       </li>
         <% else %>
           <li> <%= link_to "Sign In", new_user_session_path  %> </li>
         <% end %>
      </ul>
    </div>
 </nav>



<div class="container">
  <%= yield %>
</div>

</body>
</html>
